<style>
    .section{
      height:100vh ;
      background-image: url('../../../assets/images/fondo-tecsup.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position:top center;
      font-family: 'Poppins', sans-serif;
      background-size: 200vh;
      background-size: 100vw;
    }
    @media(max-width: 1100px){
    .section{
        background-position:top left;
        background-size: 220vh;
      }
    }
</style>
<section class="section pt-5">
    <div class="container pb-4">
        <div class="card shadow-lg px-5 py-4 col-12 col-md-10 col-lg-6 mx-auto mb-5 text-start d-flex align-items-center justify-content-center">
          <h4 class="text-primary " style="font-weight:600;">Regístrate e inicia sesión</h4>
    
          <!-- FORMULARIO -->
          <form  action="">
            <div class="form-group mt-3 text-start">
              <label for="" class="text-weight-300 text-size-14">Datos sobre la cuenta</label>
              <div class="row px-3">
                <input class="input-form py-3 mt-2" type="email" placeholder="Correo electrónico">
              </div>
              <div class="row mt-2">
                <input class="input-form py-3 mx-3 col-5" type="password" placeholder="Contraseña">
                <input class="input-form py-3 mx-3 col-5" type="password" placeholder="Confirmar contraseña">
                <!-- Esto se mostrará en las validaciones -->
                <!-- <p style="padding-left: 10px; padding-right: 0px;" class="text-weight-300 mt-2 text-size-14 mb-0 col-6"><img id="icon-alerta" src="./img/alerta.png"> ocho o más caracteres una combinación de letras, números y simbolos</p> -->
              </div>
            </div>
    
            <br>
    
            <div class="form-group mt-4 text-start">
              <label for="" class="text-weight-300 text-size-14">Información sobre tí</label>
              <div class="row px-3">
                <input class="input-form py-3 mt-2" type="text" placeholder="Nombre Completo">
              </div>
              <div class="row mt-2 px-3">
                <select name="categoria" class="text-secondary input-form py-3 col-6" id="floatingSelect">
                  <option selected>Categoría</option>
                  <option value="mantenimiento">Mantenimiento</option>
                  <option value="seguridad">Seguridad</option>
                  <option value="salud">Salud</option>
                </select> 
                <input class="input-form py-3 col-5" type="text" style="margin-left: 29px;" placeholder="Teléfono">
                
                <select name="dni" class="text-secondary input-form py-3 col-4" id="floatingSelect">
                  <option selected>DNI</option>
                  <option value="mantenimiento">Mantenimiento</option>
                  <option value="seguridad">Seguridad</option>
                  <option value="salud">Salud</option>
                </select> 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                <input class="input-form py-3 col-7" type="text" style="margin-left: 29px;" placeholder="Nro. de documento">
                
              </div>
            </div>
    
              <button id="btn-signin" class="btn-style w-100 mt-4 mb-2 text-white border-0 py-2 shadow-sm" type="submit">Registrarse</button>
             
          </form>
    
        </div>
    
      </div>
</section>
